.contact-side-drawer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: #f0f2f5;
  width: 35%;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;

  &.active {
    transform: translate(0, 0);
  }

  &__header {
    background-color: #008069;
    height: 80px;
    position: relative;

    &--item {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: white;
      display: flex;
      align-items: center;

      .icon-button {
        margin-right: 30px;
      }
    }
  }
}
